// color==========
$red:#F21D44;
$light-grey:rgba(24, 0, 31, 0.54);
$black:#010D00;
$grey:rgba(96, 96, 96, 1);
$white:#ffff;

$font-400:0.75rem;
$font-450:0.875rem;
$font-500:1rem;
$font-600:1.125rem;
$font-700:1.25rem;
$big:1.5rem;
$large:2rem;
$xl:2.5rem;
